
.bdb {
    border: 1px solid black;
}

#main-section{
    min-height: 100vh;
    border: 2px solid red;
    align-items: stretch;
}

#spotify-content-div {
    img {
        max-width: 100px;
    }
}

.yt-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.df {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#iframe {
    width: 100%;
    aspect-ratio: 16/9;
}