html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
}

.navbar-container {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 87vh;
    color: #1a092e;
    overflow: scroll;
}

.main-container {
    grid-row: 6/7;
    grid-column: 1/2;
    height: 7vh;
    background-color: white;
    color: #1a092e;
    display: flex;
    border-top: 1px solid #45566e;
}

.top-nav,
.bottom-nav {

}

.footer-right,
.progress-bar {

}

.control-button:nth-child(1),
.control-button:nth-child(3) {

}

.footer-center {

}

.control-button:nth-child(2) {

}

.control-button svg {

}
.track-info {

}

.artist-name {

}

.track-name {

}

.artist-name::after {
    content: " - ";
}

.artist-image-small {
    display: none;
}

.nav-item {
    display: flex;
    padding: 12px 1vw;
}

.bm-item {
    display: inline-block;
    text-align: start;

    text-decoration: none;
    margin-bottom: 7px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.btm-item:hover {

}

.bm-burger-button {

}

.page-title-small {

}

.page-title-large {

}

.bm-burger-bars {

}

.bm-cross-button {

}

.bm-cross {

}

.bm-menu {
    background: #1a092e;
    padding: 1em 2em 0;
}

.btn-morph-shape {

}

.bm-item-list {
    color: #b8b7ad;
}

.header-nav-button {
    position: fixed;
    right: 10px;
    top: 15px;
}

.main-container-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-container-title {

}
.main-container-item-container {

}

.image-container {

}

.image-container img {

}
.artist,
.title {

}

.details-info {

}

.details-info-left {

}
.details-info-right {

}

.details-info-right div {

}

.details-info-left img {

}

.details-contributor {

}

.details-title {

}

.details-bottom {

}

.details-bottom-title {
    display: none;
}

.track-item {
    width: 100%;
    padding: 12 px 0;
    border-bottom: 1px solid #4759722c;
}

.track-item td {

}

.track-item td:nth-child(-n + 2) {
    text-align: start;
}

.track-item td:nth-child(1) {

}

.track-item td:nth-child(2) {

}

.home-container {
    color: #1a092e;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-left {
    margin: 30px 20px;
}

.home-left div {
    margin: 20px 5px;
}

.home-title {
    font-size: 50px;
    font-weight: 600;
}

.home-desc {
    font-size: 20px;
    color: #666666;
}

.custom-button {
    color: white;
    background-color: #1a092e;
    border-radius: 4px;
    padding: 9px 18px;
    border-style: hidden;
}

.home-right img {
    max-width: 80vw;
}

.error-message {
    text-align: center;
    color: #666666;
    padding-top: 20px;
    font-size: 70%;
}

.error-message img {
    height: 100px;
    width: auto;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-term {
    width: 100%;
    border: 2px solid #1a092ee0;
    border-right: none;
    padding: 5px;
    height: 21px;
    border-radius: 4px 0 0 4px;
    outline: none;
    color: #9dbfaf;
}

.search-term:focus {
    color: #1a092e;
}

.search-button {
    width: 40px;
    height: 35px;
    border: 1px solid #1a092e;
    background: #1a092e;
    text-align: center;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-button:active {

}

.wrap {

}

.mobile-search {

}

.navbar-container {
    max-width: 15w;
}
.nav-item {
    padding: 16px 3vw;
}

.progress-bar input {
    width: 50vw;
}

.main-container-item-container {
    width: 14vw;
    margin: 1vh 0 1vh 18px;
}

.image-container {
    text-align: center;
}

.image-container img {
    height: 146px;
    width: 146px;
    border-radius: 8px;
}

.main-container-item-container {
    width: 14vw;
    margin: 1vh 0 1vh 30px;
}

.image-container{
    text-align: center;
}

.image-container img {
    height: 170px;
    width: 170px;
    border-radius: 8px;
}

.main-container {
    scrollbar-width: none;
}

.main-container::-webkit-scrollbar {
    scrollbar-width: none;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
a,
a:visited {
    text-decoration: none;
    color: inherit;
}

.active {
    color: #f87060;
}

.nav-icon {
    margin-right: 20px;
    transform: translateY(-1px);
}

.nav-icon:hover {
    cursor: pointer;
}

.nav-icon:active {
    color: #f87060;
}

.home-button {
    padding: 10px 25px;
    background: rgba(169, 169, 169, 0.281);
    border-radius: 4px;
}

.artist {
    opacity: 0.7;
}

.loader-container {
    position: absolute;
    top: 30%;
    left: 43%;
}

.image-container img:hover,
.title:hover,
.artist:hover {
    cursor: pointer;
}

.image-container img:active {
    size: 90%;
}

.play-button button {
    color: white;
    background-color: #1a092e;
    border-radius: 4px;
    padding: 7px 15px;
    border-style: hidden;
}

.play-button button:hover {
    cursor: pointer;
}

.play-button button:active {
    background-color: #1a092ee0;
}

*:focus {
    outline: none;
}

.home-left div a {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.home-left div a img {
    margin-right: 5px;
    height: 9px;
    transform: translateY(1px);
}

.home-left div a:active {
    color: #a14a41;
}