/* styling body scroll bar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}   
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* global styling ---------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
    background-color: #26394c;
}

body {
 min-height: 100vh;
}

.text-white *:not(input) {
    color: white;
}
input{
    color: #19191a !important;
}

/* background colors */
.bg-2 { background-color: #8cafcf; }
.bg-1 { background-color: #16547e; }
.bg-c1 { background-color: #26394c; }
.bg-d1 { background-color: rgba(0,0,0,0.32); }
.bg-l1 { background-color: rgba(255, 255, 255, 0.1); }


.h-100 { height: 100%; }

.fg{ flex-grow: 1; }

.pointer {
    cursor: pointer;
}


/* youtube page styling -------------------------------------------------- */

#main-section{
    align-items: stretch;
}

.mr-auto {
    margin-right: auto;
}

#iframe {
    aspect-ratio: 16/9;
    max-height: 600px;
    max-width: 800px;
}
#video-results {
    display: flex;
    flex-direction: column ;
}

#video-content-div {
    flex-grow: 1; 
    overflow-y: auto; 
    max-height: 100%; 
}

.yt-results {
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 12px;
    margin-bottom: 15px;
    cursor: pointer;

    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.32);
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.32);

    img { 
        width: 30%;
        max-height: 100px;
        max-width: 180px;
        padding-right: 10px;
    }
}

.page-height {
    display: flex;
    flex-direction: column;
    min-height: 90vh; 
}


/* spotify page styling -------------------------------------------------- */

.rel { position: relative; }
.spinner-border {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 20px;
    width: 20px;
}

#spotify-content-div {
    overflow-y: auto;
}

.spotify-item {
    display: flex ;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 14px;
    background-color: rgba(0,0,0,0.32);
    width: 100%;

    h5 {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0
    }
}

/* BS medium break point */
@media screen and (min-width: 768px) {
    .custom-height {
        min-height: calc(100vh - 64px);
    }
}

/* BS large breakpoint */
@media screen and (min-width: 992px) {
    .spotify-item, .track {
        width: 49%;
    }
}

.jcsb {
    justify-content: space-between;
}

.spotify-img-sm{
    max-height: 90px;
    aspect-ratio: 1/1;
    margin-right: 14px;
}

#spotify-iframe {
    overflow: hidden;
    min-height: 400px;
    height: 100%;
    width: 100%;
    html{ overflow: hidden; }
}

.spotify-item:last-child {
    margin-bottom: 0;
}

